
$button-default-height: 42px;
$button-default-color: $color-black;
$button-default-text-color: $color-black;
$button-default-background-color: transparent;
$button-default-hover-text-color: $color-light-grey;
$button-default-hover-background-color: $color-black;

$button-default-min-width: 130px;
$button-default-max-width: 360px;
