
$form-input-color-default: $color-blue;
$form-input-color-focus: $color-blue;
$form-input-color-success: $color-blue;
$form-input-color-error: $color-blue;
$form-input-transform: translate(-13%,-68%) scale(.75);
$form-input-text-transform: translate(-9%,-77%) scale(.75);
$form-input-height: 28px;
$form-label-transition: 0.2s ease;
$form-label-bar-height: 1px;
$form-label-bar-height-focus: 2px;
