
$header-height-mobile: 96px;
$header-height-desktop: 118px;
$header-height-desktop-fixed: 46px;

$header-content-height-mobile: 50px;
$header-content-height-desktop: 74px;

$header-search-height-mobile: 46px;
